/* #region | Root selectors */
:root {
	--text_s_heading: 40px;
	--text_s_subheading: 26px;
	--text_s_normal: 16px;

	--spacing: 12px;
	--border_radius: 8px;

	--elev_0: rgb(220, 220, 220);
	--elev_1: rgba(255, 255, 255, 0.4);
	--elev_2: rgba(255, 255, 255, 0.7);
	--text_c_prim: rgb(14, 14, 14);
	--text_c_sec: rgb(71, 71, 71);
}

:root[data-theme="dark"] {
	--elev_0: rgb(28, 28, 36);
	--elev_1: rgba(255, 255, 255, 0.1);
	--elev_2: rgba(255, 255, 255, 0.2);
	--text_c_prim: rgb(204, 204, 204);
	--text_c_sec: rgb(99, 99, 99);
}
/* #endregion */



/* #region | Default elements */
* {
	color: var(--text_c_prim);
	font-family: sans-serif;
}

body {
	width: 100vw;
	margin: 0;
	background-color: var(--elev_0);
	overflow: hidden scroll;
}

h1 {
	text-align: center;
	font-size: var(--text_s_heading);
}

h3 { font-size: var(--text_s_subheading); }
p { font-size: var(--text_s_normal); }
hr { border: 1px solid var(--text_c_sec); }
img { display: block; }

input[type="number"] {
	font-size: var(--text_s_normal);
	height: 1.8em;
	width: 6em;
	background-color: var(--elev_1);
	border: 1px solid var(--text_c_sec);
	border-radius: var(--border_radius);
	-moz-appearance: textfield;
	appearance: textfield;
	padding: 2px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input:focus { outline: none; }
/* #endregion */



/* #region | Classes */
.section {
	background-color: var(--elev_1);
	padding: var(--spacing) calc(2 * var(--spacing));
	margin-bottom: 20px;
	border-radius: var(--border_radius);
}

.simple_view:not(.show_simple) { display: none; }
.complicated_view.show_simple { display: none;}
.table_hidden { display: none; }
/* #endregion */



/* #region | One-off elements */
#container {
	width: 800px;
	max-width: 100%;
	height: 100%;
	margin: var(--spacing) auto 50px auto;
}

#theme_switcher {
	cursor: pointer;
	text-decoration: underline dotted var(--text_c_sec);
	text-align: center;
	margin: 0;
	padding: var(--spacing);
}

#sticky_inputs {
	position: sticky;
	background-color: var(--elev_0);
	z-index: 100;
	margin: 0 calc(-1 * var(--spacing)) calc(-1 * var(--spacing)) calc(-1 * var(--spacing));
	padding: 0 var(--spacing) var(--spacing) var(--spacing);
	border-radius: 0 0 var(--border_radius) var(--border_radius);
	transition: box-shadow .2s;
}

#sticky_inputs > div {
	background-color: var(--elev_1);
	padding-bottom: var(--spacing);
	margin: 0 calc(-1 * var(--spacing)) calc(-1 * var(--spacing)) calc(-1 * var(--spacing));
	padding: 0 var(--spacing) var(--spacing) var(--spacing);
	border-radius: 0 0 var(--border_radius) var(--border_radius);
}

#illust_inputs {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#illust_inputs > input { margin-right: 10px; }

#decimal_input_slider {
	appearance: none;
	width: 100%;
	height: 6px;
	border-radius: var(--border_radius);
	margin: 0;
	outline: none;
	background: var(--elev_2);
}

#decimal_input_slider::-moz-range-thumb {
	width: 12px;
	height: 30px;
	border-radius: var(--border_radius);
	cursor: ew-resize;
	background-color: var(--text_c_sec);
	border: none;
}

#decimal_input_slider::-webkit-slider-thumb {
	appearance: none;
	width: 12px;
	height: 30px;
	border-radius: var(--border_radius);
	cursor: ew-resize;
	background-color: var(--text_c_sec);
	border: none;
}

#simple_output_table {
	width: 100%;
	border-collapse: collapse;
}

#simple_output_table tr > th:nth-child(1) {
	width: 1%;
	white-space: nowrap;
	text-align: left;
}

#simple_output_table th, #simple_output_table td {
	border: 2px solid var(--text_c_sec);
	padding: 4px;
}

#simple_output_table td { text-align: center; }

#output_hands { display: flex; }

#output_hands img {
	width: 100%;
	border-radius: 0 var(--border_radius) var(--border_radius) 0;
}

#output_hands_left img { transform: scaleX(-1); }
#output_hands_left, #output_hands_right { position: relative; }

#output_hand_left_e, #output_hand_right_e {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

#bin_dec_calcs { display: flex; }
/* #endregion */
