/* #region | Main elements */
:root {
	color-scheme: light;

	/* Dimensions */
	--spacing_s: .2rem;
	--spacing_m: 1rem;
	--border_thickness: .3rem;
	--body_width: 60rem;

	/* Colors */
	--text_primary: #ddd;
	--text_secondary: #aaa;
	--text_red: #d44;
	--elev_0: hsl(240, 10%, 15%);
	--elev_1: hsl(240, 10%, 23%);
	--elev_2: hsl(240, 10%, 33%);
}

body {
	display: flex;
	flex-direction: column;
	gap: var(--spacing_m);
	position: relative;
	max-width: var(--body_width);
	margin: var(--spacing_m) auto;
	padding: 0 var(--spacing_m);
	box-sizing: border-box;

	font-family: sans-serif;
	color: var(--text_primary);
	line-height: 1.4rem;

	background-color: var(--elev_0);
}
/* #endregion */


/* #region | Misc classes and elements */
.tip {
	border-left: var(--border_thickness) solid var(--elev_2);
	padding: var(--spacing_s) var(--spacing_s) var(--spacing_s) var(--border_thickness);
	border-radius: calc(var(--border_thickness) / 2);
	background-color: var(--elev_0);
}

.tip::before { content: "💡"; }

.red { color: var(--text_red); }

code {
	background-color: var(--elev_0);
	padding: var(--spacing_s);
	border-radius: var(--spacing_s);
	color: var(--text_secondary);
	font-size: large;
	white-space: nowrap;
}

hr {
	margin: var(--spacing_m) 0;
	border: none;
	border-bottom: var(--border_thickness) solid var(--elev_2);
	border-radius: var(--border_thickness);
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	text-align: center;
	border: 1px solid var(--elev_2);
	padding: .3em 0;
}

.dec_inputs {
	display: flex;
	gap: var(--spacing_m);
}

#dec_number_input {
	flex-shrink: 0;
	padding: var(--spacing_m);
	background-color: var(--elev_0);
	border: none;
	border-radius: var(--spacing_m);
	appearance: textfield;
}

#dec_range_input { flex-grow: 1; }

#hands_canvas { width: 100%; }
/* #endregion */


/* #region | Section styling */
.section {
	padding: var(--spacing_m);
	border-radius: var(--spacing_m);
	background-color: var(--elev_1);
}

.section h1 {
	text-align: center;
	margin: 0;
}
/* #endregion */


/* #region | Media queries */
@media screen and (prefers-color-scheme: dark) {
	:root { color-scheme: dark; }
}
/* #endregion */
